{% extends 'base.html' %}


{% block content %}
<section class="section">
    <section class="container">
        <h1 class="title">Products</h1>

        {% for o in objects %}
        <article class="notification">
            <div class="content">
                <h3>{{ o.product_name }}</h3>
                <p><code>Price {{ o.price }}</code></p> 
                <p><code>Price {{ o.discounted }}</code></p> 
                <p><a href="{{ o.add_to_cart }}" class="button is-small is-link is-outlined">Add to cart</a></p> 
            </div>

        </article>
        {% endfor %}

    </section>
</section>
{% endblock content %}