{% extends 'base.html' %}


{% block content %}
<section class="section">
    <section class="container">
        <h1 class="title">Order Summary</h1>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Status</th>
                    <th>Order ID</th>
                    <th>Order Started</th>
                    <th>Order Confirmed</th>
                    <th>Product Confirmed</th>
                </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    <td>{{d.product.product_name}}</td>
                    <td>{{d.product.price}}</td>
                    <td>{{d.added_on}}</td>
                    <td>{{d.order.id}}</td>
                    <td>{{d.order.order_started}}</td> 
                    <td>{{d.order.order_status}}</td>
                    <td>{{ d.confirmed }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'system:confirm-order' %}" class="button is-primary is-outlined">Confirm Order</a>
       
    </section>
</section>
{% endblock content %}